<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gbing/gbing_wait_3.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gbing/gbing_wait_0.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>78</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>gbing/gbing_wait_1.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gbing/gbing_wait_2.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>234</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>gbing/gbing_wait_8.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>312</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>gbing/gbing_wait_9.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>386</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>gbing/gbing_wait_10.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>462</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>16.5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>gbing/gbing_wait_11.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>537</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>gbing/gbing_wait_16.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>588</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>gbing/gbing_wait_17.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>666</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>gbing/gbing_wait_18.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>743</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>gbing/gbing_wait_19.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>821</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>16</real>
			</dict>
			<key>gbing/gbing_run_7.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>900</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>gbing/gbing_run_0.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gbing/gbing_run_1.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>78</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gbing/gbing_run_2.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>gbing/gbing_run_3.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>238</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>gbing/gbing_run_4.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>317</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>gbing/gbing_run_5.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>395</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>gbing/gbing_run_6.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>473</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>gbing/gbing_run_16.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>553</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>23</real>
				<key>offsetY</key>
				<real>16</real>
			</dict>
			<key>gbing/gbing_run_17.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>633</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>gbing/gbing_run_18.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>713</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>28</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>gbing/gbing_run_19.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>791</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>gbing/gbing_run_20.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>869</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>gbing/gbing_run_21.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>919</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>gbing/gbing_run_22.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>969</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>gbing/gbing_run_23.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>gbing/gbing_run_32.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>54</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>gbing/gbing_run_33.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>gbing/gbing_run_34.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>212</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>gbing/gbing_run_35.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>gbing/gbing_run_36.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>370</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>gbing/gbing_run_37.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>448</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>gbing/gbing_run_38.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>526</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>gbing/gbing_run_39.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>605</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>gbing/gbing_skill1_23.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>684</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>gbing/gbing_skill1_16.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>734</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>gbing/gbing_skill1_17.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>808</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>gbing/gbing_skill1_18.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>890</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>gbing/gbing_skill1_19.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>gbing/gbing_skill1_20.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>82</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>gbing/gbing_skill1_21.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>138</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>gbing/gbing_skill1_22.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>195</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>gbing/gbing_bd_4.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>gbing/gbing_bd_5.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>gbing/gbing_dead_2.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>403</integer>
				<key>y</key>
				<integer>346</integer>
				<key>offsetX</key>
				<real>31</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>GBing0.png</string>
			<key>realTextureFileName</key>
			<string>GBing0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>