<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gjia_wait_8.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>gjia_wait_9.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>69</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>gjia_wait_10.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>139</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gjia_wait_11.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>209</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gjia_run_16.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>279</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>gjia_run_17.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>357</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>gjia_run_18.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>436</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gjia_run_19.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>516</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gjia_run_20.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>595</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>gjia_run_21.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>673</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>gjia_run_22.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>751</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>gjia_run_23.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>830</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>gjia_skill1_16.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>908</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>gjia_skill1_17.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>977</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gjia_skill1_18.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1050</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>gjia_skill1_19.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1121</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>gjia_skill1_20.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1203</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>gjia_skill1_21.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1285</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>gjia_skill1_22.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1356</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>gjia_skill1_23.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1425</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>gjia_skill2_0014.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1496</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-47</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
			<key>gjia_skill2_0001.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1594</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-58</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gjia_skill2_0002.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1664</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-54</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>gjia_skill2_0003.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1736</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-50</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>gjia_skill2_0004.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1808</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-47.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>gjia_skill2_0005.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1879</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-44</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>gjia_skill2_0006.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-40</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>gjia_skill2_0007.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-40.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>gjia_skill2_0008.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-37</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>gjia_skill2_0009.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>277</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-34</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>gjia_skill2_0010.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-33.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>gjia_skill2_0011.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-34.5</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>gjia_skill2_0012.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>567</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-34</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>gjia_skill2_0013.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>663</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-42</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>gjia_skill2_0015.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>761</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-39.5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>gjia_skill2_0016.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>858</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-36.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>gjia_skill2_0017.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>955</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-42</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>gjia_skill2_0018.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1053</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-30</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>gjia_skill2_0019.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1145</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-34</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>gjia_skill2_0020.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1249</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gjia_skill2_0021.png</key>
			<dict>
				<key>width</key>
				<integer>230</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1421</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>30</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>gjia_skill2_0022.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1653</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>gjia_skill2_0023.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1775</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>gjia_skill2_0024.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1891</integer>
				<key>y</key>
				<integer>108</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gjia_skill2_0025.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>gjia_skill2_0026.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>32</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>gjia_skill2_0027.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>354</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gjia_skill2_0028.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>511</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>28</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>gjia_skill2_0029.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>727</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>-31</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>gjia_skill2_0030.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>837</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>-32</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>gjia_skill2_0031.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>949</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>-33</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>gjia_skill2_0032.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1059</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>-30</real>
				<key>offsetY</key>
				<real>-13.5</real>
			</dict>
			<key>gjia_skill2_0033.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1175</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>gjia_skill2_0034.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1323</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>gjia_skill2_0035.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1531</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>20</real>
				<key>offsetY</key>
				<real>-14</real>
			</dict>
			<key>gjia_skill2_0036.png</key>
			<dict>
				<key>width</key>
				<integer>212</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1739</integer>
				<key>y</key>
				<integer>206</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>gjia_skill2_0037.png</key>
			<dict>
				<key>width</key>
				<integer>214</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>gjia_skill2_0038.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>216</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>gjia_skill2_0039.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>332</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>gjia_skill2_0040.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>470</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>29.5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>gjia_skill2_0041.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>667</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>gjia_skill2_0042.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>813</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>-38</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>gjia_skill2_0043.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>915</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>-48</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>gjia_skill2_0044.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1011</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>-51.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>gjia_dead_2.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1096</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>21</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>gjia_bd_4.png</key>
			<dict>
				<key>width</key>
				<integer>67</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1186</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>gjia_bd_5.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1255</integer>
				<key>y</key>
				<integer>308</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>GJia0.png</string>
			<key>realTextureFileName</key>
			<string>GJia0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>