<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>300001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300002.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{38,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{38,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300003.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{44,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300005.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{42,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300006.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{46,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300007.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{38,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300008.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300009.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{42,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300010.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{40,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300011.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300013.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,54},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300014.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,54},{46,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300015.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,54},{44,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300016.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300017.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300018.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,54},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300019.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,54},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300020.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,54},{46,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300021.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,54},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300023.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,106},{48,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300024.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,106},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300025.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,106},{48,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300026.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,106},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300027.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,106},{42,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300028.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,106},{46,46}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300029.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,106},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300030.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,106},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300031.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,106},{36,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{34,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{34,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300033.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,158},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300034.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,158},{48,48}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300035.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,158},{44,48}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300036.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,158},{36,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300037.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,158},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300038.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,158},{36,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300039.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,158},{38,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300040.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,158},{46,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300041.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,158},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300042.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,158},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{46,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300044.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,210},{46,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300045.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,210},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300046.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,210},{40,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300047.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,210},{46,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300048.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,210},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300049.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,210},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300050.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,210},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300051.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,210},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300052.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,210},{44,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{44,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300054.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,262},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300055.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,262},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300056.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,262},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300057.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,262},{46,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300058.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,262},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300059.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,262},{36,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300060.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,262},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300061.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,262},{42,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300062.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,262},{48,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300063.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,262},{42,48}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{42,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{44,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300065.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,314},{38,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300066.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,314},{42,50}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300067.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,314},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300068.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,314},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300069.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,314},{40,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300070.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,314},{38,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{38,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300071.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,314},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300072.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,314},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300073.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,314},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300074.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,314},{36,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{36,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{42,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300076.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,366},{38,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300077.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,366},{46,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300078.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,366},{32,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{32,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>300079.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,366},{38,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heroIcon2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3738bcd3e141a6b2e53e274247d2a44:1/1$</string>
            <key>textureFileName</key>
            <string>heroIcon2.png</string>
        </dict>
    </dict>
</plist>
