<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dcang_wait_8.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>dcang_wait_9.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>62</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>dcang_wait_10.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>dcang_wait_11.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>181</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>dcang_run_16.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>242</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>dcang_run_17.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>321</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>dcang_run_18.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>402</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>dcang_run_19.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>484</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>dcang_run_20.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>564</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>dcang_run_21.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>642</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>dcang_run_22.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>721</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>dcang_run_23.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>801</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
			<key>dcang_skill1_16.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>880</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>dcang_skill1_17.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>942</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-8.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>dcang_skill1_18.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1009</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>dcang_skill1_19.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1127</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>27</real>
			</dict>
			<key>dcang_skill1_20.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1226</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>dcang_skill1_21.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1308</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-44</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>dcang_skill1_22.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1450</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-27.5</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>dcang_skill1_23.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1557</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>dcang_skill2_0001.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1621</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>29.5</real>
			</dict>
			<key>dcang_skill2_0002.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1683</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>28.5</real>
			</dict>
			<key>dcang_skill2_0003.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>121</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1748</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>29.5</real>
			</dict>
			<key>dcang_skill2_0004.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1815</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>35</real>
			</dict>
			<key>dcang_skill2_0005.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1900</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>34.5</real>
			</dict>
			<key>dcang_skill2_0006.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>-28</real>
				<key>offsetY</key>
				<real>22.5</real>
			</dict>
			<key>dcang_skill2_0007.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>104</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>-44</real>
				<key>offsetY</key>
				<real>33</real>
			</dict>
			<key>dcang_skill2_0008.png</key>
			<dict>
				<key>width</key>
				<integer>245</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>238</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>-102.5</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>dcang_skill2_0009.png</key>
			<dict>
				<key>width</key>
				<integer>285</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>485</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>dcang_skill2_0010.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>772</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>dcang_skill2_0011.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1136</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>52</real>
				<key>offsetY</key>
				<real>23.5</real>
			</dict>
			<key>dcang_skill2_0012.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1436</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>-48</real>
				<key>offsetY</key>
				<real>40.5</real>
			</dict>
			<key>dcang_skill2_0013.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1564</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>-48</real>
				<key>offsetY</key>
				<real>39.5</real>
			</dict>
			<key>dcang_skill2_0014.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1696</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>-41</real>
				<key>offsetY</key>
				<real>39</real>
			</dict>
			<key>dcang_skill2_0015.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1814</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>dcang_skill2_0016.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1947</integer>
				<key>y</key>
				<integer>172</integer>
				<key>offsetX</key>
				<real>-35.5</real>
				<key>offsetY</key>
				<real>54.5</real>
			</dict>
			<key>dcang_skill2_0017.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>-31</real>
				<key>offsetY</key>
				<real>63</real>
			</dict>
			<key>dcang_skill2_0018.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>58.5</real>
			</dict>
			<key>dcang_skill2_0019.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>184</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>64</real>
				<key>offsetY</key>
				<real>52</real>
			</dict>
			<key>dcang_skill2_0020.png</key>
			<dict>
				<key>width</key>
				<integer>288</integer>
				<key>height</key>
				<integer>239</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>424</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>52</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>dcang_skill2_0021.png</key>
			<dict>
				<key>width</key>
				<integer>308</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>714</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>53</real>
				<key>offsetY</key>
				<real>-15.5</real>
			</dict>
			<key>dcang_skill2_0022.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1024</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>-35</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>dcang_skill2_0023.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1182</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>-37.5</real>
				<key>offsetY</key>
				<real>44</real>
			</dict>
			<key>dcang_skill2_0024.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1343</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>-36.5</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>dcang_skill2_0025.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1504</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>-44</real>
				<key>offsetY</key>
				<real>41.5</real>
			</dict>
			<key>dcang_skill2_0026.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1668</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>-34</real>
				<key>offsetY</key>
				<real>31</real>
			</dict>
			<key>dcang_skill2_0027.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1808</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>32.5</real>
			</dict>
			<key>dcang_skill2_0028.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1915</integer>
				<key>y</key>
				<integer>350</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>31.5</real>
			</dict>
			<key>dcang_skill2_0029.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>-34</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>dcang_skill2_0030.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>-32</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>dcang_skill2_0031.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>230</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>39.5</real>
			</dict>
			<key>dcang_skill2_0032.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>314</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>49</real>
				<key>offsetY</key>
				<real>66</real>
			</dict>
			<key>dcang_skill2_0033.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>230</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>554</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>74</real>
				<key>offsetY</key>
				<real>-22</real>
			</dict>
			<key>dcang_skill2_0034.png</key>
			<dict>
				<key>width</key>
				<integer>303</integer>
				<key>height</key>
				<integer>254</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>856</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>20.5</real>
				<key>offsetY</key>
				<real>-33</real>
			</dict>
			<key>dcang_skill2_0035.png</key>
			<dict>
				<key>width</key>
				<integer>168</integer>
				<key>height</key>
				<integer>211</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1161</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>-62</real>
				<key>offsetY</key>
				<real>-11.5</real>
			</dict>
			<key>dcang_skill2_0036.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1331</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>-29</real>
				<key>offsetY</key>
				<real>39</real>
			</dict>
			<key>dcang_skill2_0037.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1433</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>-32</real>
				<key>offsetY</key>
				<real>37</real>
			</dict>
			<key>dcang_skill2_0038.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1537</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>23.5</real>
			</dict>
			<key>dcang_skill2_0039.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1613</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>28</real>
			</dict>
			<key>dcang_skill2_0040.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1717</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>30.5</real>
			</dict>
			<key>dcang_skill2_0041.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1820</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>35</real>
			</dict>
			<key>dcang_skill2_0042.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1914</integer>
				<key>y</key>
				<integer>591</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>36.5</real>
			</dict>
			<key>dcang_skill2_0043.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>38.5</real>
			</dict>
			<key>dcang_skill2_0044.png</key>
			<dict>
				<key>width</key>
				<integer>86</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>-8</real>
				<key>offsetY</key>
				<real>50</real>
			</dict>
			<key>dcang_skill2_0045.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>179</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>57.5</real>
			</dict>
			<key>dcang_skill2_0046.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>51.5</real>
			</dict>
			<key>dcang_skill2_0047.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>339</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>44.5</real>
			</dict>
			<key>dcang_skill2_0048.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>439</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>40.5</real>
			</dict>
			<key>dcang_skill2_0049.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>551</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>61.5</real>
			</dict>
			<key>dcang_skill2_0050.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>684</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>-34.5</real>
				<key>offsetY</key>
				<real>63.5</real>
			</dict>
			<key>dcang_skill2_0051.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>773</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>-31</real>
				<key>offsetY</key>
				<real>64</real>
			</dict>
			<key>dcang_skill2_0052.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>859</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>50.5</real>
			</dict>
			<key>dcang_skill2_0053.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>162</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>957</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>64</real>
				<key>offsetY</key>
				<real>49</real>
			</dict>
			<key>dcang_skill2_0054.png</key>
			<dict>
				<key>width</key>
				<integer>288</integer>
				<key>height</key>
				<integer>239</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1197</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>52</real>
				<key>offsetY</key>
				<real>-16.5</real>
			</dict>
			<key>dcang_skill2_0055.png</key>
			<dict>
				<key>width</key>
				<integer>308</integer>
				<key>height</key>
				<integer>217</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1487</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>49</real>
				<key>offsetY</key>
				<real>-27.5</real>
			</dict>
			<key>dcang_skill2_0056.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>1797</integer>
				<key>y</key>
				<integer>847</integer>
				<key>offsetX</key>
				<real>-38</real>
				<key>offsetY</key>
				<real>-12.5</real>
			</dict>
			<key>dcang_skill2_0057.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1088</integer>
				<key>offsetX</key>
				<real>-37.5</real>
				<key>offsetY</key>
				<real>31</real>
			</dict>
			<key>dcang_skill2_0058.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>161</integer>
				<key>y</key>
				<integer>1088</integer>
				<key>offsetX</key>
				<real>-36.5</real>
				<key>offsetY</key>
				<real>28.5</real>
			</dict>
			<key>dcang_skill2_0059.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>322</integer>
				<key>y</key>
				<integer>1088</integer>
				<key>offsetX</key>
				<real>-44</real>
				<key>offsetY</key>
				<real>31.5</real>
			</dict>
			<key>dcang_skill2_0060.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>486</integer>
				<key>y</key>
				<integer>1088</integer>
				<key>offsetX</key>
				<real>-34</real>
				<key>offsetY</key>
				<real>31</real>
			</dict>
			<key>dcang_skill2_0061.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>626</integer>
				<key>y</key>
				<integer>1088</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>32.5</real>
			</dict>
			<key>dcang_skill2_0062.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>733</integer>
				<key>y</key>
				<integer>1088</integer>
				<key>offsetX</key>
				<real>-18.5</real>
				<key>offsetY</key>
				<real>31.5</real>
			</dict>
			<key>dcang_skill2_0063.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>834</integer>
				<key>y</key>
				<integer>1088</integer>
				<key>offsetX</key>
				<real>-31</real>
				<key>offsetY</key>
				<real>25</real>
			</dict>
			<key>dcang_skill2_0064.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>320</integer>
				<key>x</key>
				<integer>954</integer>
				<key>y</key>
				<integer>1088</integer>
				<key>offsetX</key>
				<real>-32</real>
				<key>offsetY</key>
				<real>17.5</real>
			</dict>
			<key>dcang_dead_2.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1064</integer>
				<key>y</key>
				<integer>1088</integer>
				<key>offsetX</key>
				<real>14</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>dcang_bd_4.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1142</integer>
				<key>y</key>
				<integer>1088</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>dcang_bd_5.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1204</integer>
				<key>y</key>
				<integer>1088</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>DCang0.png</string>
			<key>realTextureFileName</key>
			<string>DCang0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>