<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gyu_wait_8.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>gyu_wait_9.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>124</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>gyu_wait_10.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>255</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>gyu_wait_11.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>392</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>gyu_run_16.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>525</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>gyu_run_17.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>632</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>gyu_run_18.png</key>
			<dict>
				<key>width</key>
				<integer>109</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>743</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>gyu_run_19.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>854</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>gyu_run_20.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>961</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>gyu_run_21.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1062</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>gyu_run_22.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1160</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>gyu_run_23.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>109</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1261</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>gyu_skill1_16.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1365</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>gyu_skill1_17.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1489</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>gyu_skill1_18.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1593</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>gyu_skill1_19.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1705</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>gyu_skill1_20.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1817</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-36</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gyu_skill1_21.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>-41</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>gyu_skill1_22.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>130</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>gyu_skill1_23.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>gyu_skill2_0018.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>380</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>gyu_skill2_0001.png</key>
			<dict>
				<key>width</key>
				<integer>123</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>472</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gyu_skill2_0002.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>597</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gyu_skill2_0003.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>735</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>gyu_skill2_0004.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>875</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>gyu_skill2_0005.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>994</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>gyu_skill2_0006.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1086</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>-15</real>
			</dict>
			<key>gyu_skill2_0007.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1172</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>-29</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>gyu_skill2_0008.png</key>
			<dict>
				<key>width</key>
				<integer>113</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1274</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>-36.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>gyu_skill2_0009.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1389</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>-42</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gyu_skill2_0010.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1511</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>-44.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gyu_skill2_0011.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1642</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>-45</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>gyu_skill2_0012.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1772</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>-40</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>gyu_skill2_0013.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1894</integer>
				<key>y</key>
				<integer>112</integer>
				<key>offsetX</key>
				<real>-44</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>gyu_skill2_0014.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gyu_skill2_0015.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>23.5</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>gyu_skill2_0016.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>270</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>gyu_skill2_0017.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>11.5</real>
			</dict>
			<key>gyu_skill2_0031.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>515</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-27</real>
				<key>offsetY</key>
				<real>23</real>
			</dict>
			<key>gyu_skill2_0032.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>607</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-29.5</real>
				<key>offsetY</key>
				<real>19</real>
			</dict>
			<key>gyu_skill2_0033.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>698</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-24</real>
				<key>offsetY</key>
				<real>19.5</real>
			</dict>
			<key>gyu_skill2_0034.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>808</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>20</real>
			</dict>
			<key>gyu_skill2_0035.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>929</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>gyu_skill2_0036.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1063</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>14</real>
			</dict>
			<key>gyu_skill2_0037.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1157</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>gyu_skill2_0038.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1251</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-24</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>gyu_skill2_0039.png</key>
			<dict>
				<key>width</key>
				<integer>129</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1355</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-35.5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>gyu_skill2_0040.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1486</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-36.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>gyu_skill2_0041.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1619</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-28.5</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>gyu_skill2_0042.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1732</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-26</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gyu_skill2_0043.png</key>
			<dict>
				<key>width</key>
				<integer>96</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1836</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>gyu_skill2_0044.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1934</integer>
				<key>y</key>
				<integer>251</integer>
				<key>offsetX</key>
				<real>-19.5</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>gyu_skill2_0045.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>gyu_skill2_0046.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>86</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>gyu_skill2_0047.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>198</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>gyu_skill2_0048.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>332</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>gyu_skill2_0019.png</key>
			<dict>
				<key>width</key>
				<integer>132</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>460</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>-39</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>gyu_skill2_0020.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>594</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>-40</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>gyu_skill2_0021.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>734</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>gyu_skill2_0022.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>841</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>23</real>
				<key>offsetY</key>
				<real>15</real>
			</dict>
			<key>gyu_skill2_0023.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1015</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>gyu_skill2_0024.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1165</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>gyu_skill2_0025.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1302</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>12.5</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>gyu_skill2_0026.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1457</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>-22</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>gyu_skill2_0027.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1551</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>-36.5</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>gyu_skill2_0028.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1684</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>-36.5</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>gyu_skill2_0029.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1817</integer>
				<key>y</key>
				<integer>379</integer>
				<key>offsetX</key>
				<real>-17</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>gyu_skill2_0030.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>501</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>gyu_dead_2.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>154</integer>
				<key>y</key>
				<integer>501</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>gyu_bd_4.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>264</integer>
				<key>y</key>
				<integer>501</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>gyu_bd_5.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>392</integer>
				<key>y</key>
				<integer>501</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>17</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>GYu0.png</string>
			<key>realTextureFileName</key>
			<string>GYu0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>