<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jxyu_wait_8.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>jxyu_wait_9.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>95</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>jxyu_wait_10.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>190</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>jxyu_wait_11.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-21</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>jxyu_run_16.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>382</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>jxyu_run_17.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>477</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>jxyu_run_18.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>570</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
			<key>jxyu_run_19.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>663</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>jxyu_run_20.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>756</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>jxyu_run_21.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>851</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>9.5</real>
			</dict>
			<key>jxyu_run_22.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>950</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-13</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>jxyu_run_23.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1046</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>12.5</real>
			</dict>
			<key>jxyu_skill1_16.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1141</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>jxyu_skill1_17.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1224</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-22.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>jxyu_skill1_18.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1297</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-17.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>jxyu_skill1_19.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>73</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1390</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>jxyu_skill1_20.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1500</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>jxyu_skill1_21.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1607</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>jxyu_skill1_22.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1714</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>jxyu_skill1_23.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1806</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>jxyu_skill2_0026.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1896</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>9</real>
			</dict>
			<key>jxyu_skill2_0027.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>jxyu_skill2_0028.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>-18.5</real>
			</dict>
			<key>jxyu_skill2_0029.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>344</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>jxyu_skill2_0030.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>129</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>536</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>-29.5</real>
			</dict>
			<key>jxyu_skill2_0031.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>727</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-25</real>
			</dict>
			<key>jxyu_skill2_0032.png</key>
			<dict>
				<key>width</key>
				<integer>179</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>915</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>jxyu_skill2_0033.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1096</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>jxyu_skill2_0034.png</key>
			<dict>
				<key>width</key>
				<integer>196</integer>
				<key>height</key>
				<integer>125</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1290</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>21</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>jxyu_skill2_0035.png</key>
			<dict>
				<key>width</key>
				<integer>200</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1488</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>jxyu_skill2_0036.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1690</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>29.5</real>
				<key>offsetY</key>
				<real>-27</real>
			</dict>
			<key>jxyu_skill2_0037.png</key>
			<dict>
				<key>width</key>
				<integer>155</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1877</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>jxyu_skill2_0038.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>25.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>jxyu_skill2_0039.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>83</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>jxyu_skill2_0040.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>179</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>jxyu_skill2_0041.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>jxyu_skill2_0042.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>367</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>21.5</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>jxyu_skill2_0043.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>456</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>48</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>jxyu_skill2_0044.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>594</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>55</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>jxyu_skill2_0045.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>732</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>24</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>jxyu_skill2_0046.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>916</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>jxyu_skill2_0047.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1016</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-9.5</real>
			</dict>
			<key>jxyu_skill2_0048.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>71</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1098</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>jxyu_skill2_0001.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1180</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>jxyu_skill2_0002.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1264</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>36</real>
			</dict>
			<key>jxyu_skill2_0003.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1374</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>14.5</real>
				<key>offsetY</key>
				<real>40</real>
			</dict>
			<key>jxyu_skill2_0004.png</key>
			<dict>
				<key>width</key>
				<integer>89</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1471</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>38</real>
			</dict>
			<key>jxyu_skill2_0005.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>156</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1562</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>19.5</real>
				<key>offsetY</key>
				<real>34</real>
			</dict>
			<key>jxyu_skill2_0006.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1659</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>22</real>
			</dict>
			<key>jxyu_skill2_0007.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1761</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>20</real>
				<key>offsetY</key>
				<real>18</real>
			</dict>
			<key>jxyu_skill2_0008.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1863</integer>
				<key>y</key>
				<integer>323</integer>
				<key>offsetX</key>
				<real>23</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>jxyu_skill2_0009.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>jxyu_skill2_0010.png</key>
			<dict>
				<key>width</key>
				<integer>137</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>23.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>jxyu_skill2_0011.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>259</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>26.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>jxyu_skill2_0012.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>404</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>26.5</real>
				<key>offsetY</key>
				<real>-18</real>
			</dict>
			<key>jxyu_skill2_0013.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>549</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-17</real>
			</dict>
			<key>jxyu_skill2_0014.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>705</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-17.5</real>
			</dict>
			<key>jxyu_skill2_0015.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>141</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>873</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>-18</real>
				<key>offsetY</key>
				<real>-21.5</real>
			</dict>
			<key>jxyu_skill2_0016.png</key>
			<dict>
				<key>width</key>
				<integer>198</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1031</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>-23</real>
				<key>offsetY</key>
				<real>-22.5</real>
			</dict>
			<key>jxyu_skill2_0017.png</key>
			<dict>
				<key>width</key>
				<integer>189</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1231</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>-9.5</real>
				<key>offsetY</key>
				<real>-19</real>
			</dict>
			<key>jxyu_skill2_0018.png</key>
			<dict>
				<key>width</key>
				<integer>258</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1422</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>jxyu_skill2_0019.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>192</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1682</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>24</real>
				<key>offsetY</key>
				<real>-30</real>
			</dict>
			<key>jxyu_skill2_0020.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1838</integer>
				<key>y</key>
				<integer>493</integer>
				<key>offsetX</key>
				<real>21</real>
				<key>offsetY</key>
				<real>-21</real>
			</dict>
			<key>jxyu_skill2_0021.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>182</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>687</integer>
				<key>offsetX</key>
				<real>43.5</real>
				<key>offsetY</key>
				<real>19</real>
			</dict>
			<key>jxyu_skill2_0022.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>161</integer>
				<key>y</key>
				<integer>687</integer>
				<key>offsetX</key>
				<real>51</real>
				<key>offsetY</key>
				<real>31</real>
			</dict>
			<key>jxyu_skill2_0023.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>333</integer>
				<key>y</key>
				<integer>687</integer>
				<key>offsetX</key>
				<real>31</real>
				<key>offsetY</key>
				<real>41</real>
			</dict>
			<key>jxyu_skill2_0024.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>168</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>449</integer>
				<key>y</key>
				<integer>687</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>28</real>
			</dict>
			<key>jxyu_skill2_0025.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>184</integer>
				<key>originalWidth</key>
				<integer>300</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>555</integer>
				<key>y</key>
				<integer>687</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>jxyu_dead_2.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>707</integer>
				<key>y</key>
				<integer>687</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>jxyu_bd_4.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>811</integer>
				<key>y</key>
				<integer>687</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>jxyu_bd_5.png</key>
			<dict>
				<key>width</key>
				<integer>72</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>894</integer>
				<key>y</key>
				<integer>687</integer>
				<key>offsetX</key>
				<real>-20</real>
				<key>offsetY</key>
				<real>13.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>JXYu0.png</string>
			<key>realTextureFileName</key>
			<string>JXYu0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>