<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gxiang_wait_8.png</key>
			<dict>
				<key>width</key>
				<integer>92</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>gxiang_wait_9.png</key>
			<dict>
				<key>width</key>
				<integer>97</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>94</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>gxiang_wait_10.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>gxiang_wait_11.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>307</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>gxiang_run_16.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>407</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>gxiang_run_17.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>513</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>gxiang_run_18.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>616</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>gxiang_run_19.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>717</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>gxiang_run_20.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>814</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>12</real>
			</dict>
			<key>gxiang_run_21.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>909</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gxiang_run_22.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1006</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>8.5</real>
			</dict>
			<key>gxiang_run_23.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1106</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>10</real>
			</dict>
			<key>gxiang_skill1_16.png</key>
			<dict>
				<key>width</key>
				<integer>91</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1209</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>gxiang_skill1_17.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1302</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>gxiang_skill1_18.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1363</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-20.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>gxiang_skill1_19.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1440</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>gxiang_skill1_20.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1499</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
			<key>gxiang_skill1_21.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1567</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>gxiang_skill1_22.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1650</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>gxiang_skill1_23.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1729</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>gxiang_skill2_0001.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>95</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1804</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>gxiang_skill2_0002.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1906</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>gxiang_skill2_0003.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>gxiang_skill2_0004.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>135</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>gxiang_skill2_0005.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>273</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>gxiang_skill2_0006.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>112</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>421</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gxiang_skill2_0007.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>557</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>gxiang_skill2_0008.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>108</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>699</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>gxiang_skill2_0009.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>843</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>gxiang_skill2_0010.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>985</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>gxiang_skill2_0011.png</key>
			<dict>
				<key>width</key>
				<integer>134</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1126</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>12</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>gxiang_skill2_0012.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1262</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>gxiang_skill2_0013.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1414</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>gxiang_skill2_0014.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1562</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>gxiang_skill2_0015.png</key>
			<dict>
				<key>width</key>
				<integer>139</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1703</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>10.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>gxiang_skill2_0016.png</key>
			<dict>
				<key>width</key>
				<integer>102</integer>
				<key>height</key>
				<integer>101</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1844</integer>
				<key>y</key>
				<integer>124</integer>
				<key>offsetX</key>
				<real>-15</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>gxiang_skill2_0017.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>81</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>gxiang_skill2_0018.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>164</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gxiang_skill2_0019.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>30</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>gxiang_skill2_0020.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>472</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>29</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>gxiang_skill2_0021.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>632</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>gxiang_skill2_0022.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>790</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>29</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gxiang_skill2_0023.png</key>
			<dict>
				<key>width</key>
				<integer>190</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>968</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>28</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>gxiang_skill2_0024.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1160</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>gxiang_skill2_0025.png</key>
			<dict>
				<key>width</key>
				<integer>166</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1332</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>gxiang_skill2_0026.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1500</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>24</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>gxiang_skill2_0027.png</key>
			<dict>
				<key>width</key>
				<integer>100</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1678</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>gxiang_skill2_0028.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1780</integer>
				<key>y</key>
				<integer>244</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>gxiang_skill2_0029.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>gxiang_skill2_0030.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>153</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>26</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>gxiang_skill2_0031.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>307</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>30</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gxiang_skill2_0032.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>465</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>30</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>gxiang_skill2_0033.png</key>
			<dict>
				<key>width</key>
				<integer>172</integer>
				<key>height</key>
				<integer>92</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>621</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>22</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>gxiang_skill2_0034.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>795</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gxiang_skill2_0035.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>985</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>18</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>gxiang_skill2_0036.png</key>
			<dict>
				<key>width</key>
				<integer>165</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1163</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>24.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>gxiang_skill2_0037.png</key>
			<dict>
				<key>width</key>
				<integer>164</integer>
				<key>height</key>
				<integer>102</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1330</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>27</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>gxiang_skill2_0038.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1496</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>-33</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>gxiang_skill2_0039.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1562</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>-38</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>gxiang_skill2_0040.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1638</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>-35</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>gxiang_skill2_0041.png</key>
			<dict>
				<key>width</key>
				<integer>138</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1716</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>5.5</real>
			</dict>
			<key>gxiang_skill2_0042.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>1856</integer>
				<key>y</key>
				<integer>348</integer>
				<key>offsetX</key>
				<real>17</real>
				<key>offsetY</key>
				<real>-10</real>
			</dict>
			<key>gxiang_skill2_0043.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>19</real>
				<key>offsetY</key>
				<real>-13</real>
			</dict>
			<key>gxiang_skill2_0044.png</key>
			<dict>
				<key>width</key>
				<integer>158</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>-12</real>
			</dict>
			<key>gxiang_skill2_0045.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>316</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>gxiang_skill2_0046.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>468</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>-28</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>gxiang_skill2_0047.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>110</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>538</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>5</real>
			</dict>
			<key>gxiang_skill2_0048.png</key>
			<dict>
				<key>width</key>
				<integer>103</integer>
				<key>height</key>
				<integer>90</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>628</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>8</real>
			</dict>
			<key>gxiang_dead_2.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>733</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>25</real>
				<key>offsetY</key>
				<real>-10.5</real>
			</dict>
			<key>gxiang_bd_4.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>94</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>833</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
			<key>gxiang_bd_5.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>922</integer>
				<key>y</key>
				<integer>492</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>7.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>GXiang0.png</string>
			<key>realTextureFileName</key>
			<string>GXiang0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>