<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20002_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{35,27}}</string>
                <key>offset</key>
                <string>{21,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,29},{35,27}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{35,27}}</string>
                <key>offset</key>
                <string>{21,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,29},{35,27}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,212},{79,125}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,212},{79,125}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{79,125}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{125,147}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,147}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{125,147}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,147}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,149}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,149}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,149}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,149}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{123,147}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,147}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{123,147}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,147}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,192},{117,93}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,46},{117,93}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,192},{117,93}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,46},{117,93}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,113},{129,77}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,50},{129,77}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,113},{129,77}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,50},{129,77}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{133,89}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{133,89}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{133,89}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{133,89}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,93},{129,117}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{129,117}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,93},{129,117}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{129,117}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{135,109}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{135,109}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{135,109}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,21},{135,109}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,302},{135,109}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{135,109}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
            <key>20002_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,302},{135,109}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{135,109}}</string>
                <key>sourceSize</key>
                <string>{143,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20002.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f6ffe583a84074f883bc506acc82503:1/1$</string>
            <key>textureFileName</key>
            <string>20002.png</string>
        </dict>
    </dict>
</plist>
