<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20009_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,932},{68,224}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,117},{68,224}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,678},{150,286}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,111},{150,286}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,326},{206,372}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,46},{206,372}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,388}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,62},{266,388}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{322,380}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,77},{322,380}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,736},{340,188}}</string>
                <key>offset</key>
                <string>{15,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,210},{340,188}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,534},{350,200}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,199},{350,200}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{374,220}}</string>
                <key>offset</key>
                <string>{31,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,187},{374,220}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,378},{298,234}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,178},{298,234}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{374,238}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,175},{374,238}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{368,222}}</string>
                <key>offset</key>
                <string>{-20,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,195},{368,222}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{348,214}}</string>
                <key>offset</key>
                <string>{-11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,205},{348,214}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{272,204}}</string>
                <key>offset</key>
                <string>{8,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,217},{272,204}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{272,198}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,228},{272,198}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,830},{280,172}}</string>
                <key>offset</key>
                <string>{3,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,258},{280,172}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
            <key>20009_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,926},{278,168}}</string>
                <key>offset</key>
                <string>{1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,260},{278,168}}</string>
                <key>sourceSize</key>
                <string>{540,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20009.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:907da4b7cafee62e8d070a0b7d6850d9:1/1$</string>
            <key>textureFileName</key>
            <string>20009.png</string>
        </dict>
    </dict>
</plist>
