<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20001_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,376},{126,90}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,78},{126,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20001_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,364},{136,120}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,56},{136,120}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20001_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,148},{144,124}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,62},{144,124}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20001_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{146,144}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,51},{146,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20001_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,184},{170,178}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,46},{170,178}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20001_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,180}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,44},{176,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20001_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{180,184}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{180,184}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20001_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,186}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,46},{176,186}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20001_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{126,90}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,66},{126,90}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20001_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,364},{54,74}}</string>
                <key>offset</key>
                <string>{8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,70},{54,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20001.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:092405b43757eaf627ca2f7d99c84217:1/1$</string>
            <key>textureFileName</key>
            <string>20001.png</string>
        </dict>
    </dict>
</plist>
