<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20006_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1628},{278,250}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,138},{278,250}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20006_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1628},{322,276}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,128},{322,276}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20006_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1534},{362,340}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,81},{362,340}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20006_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1224},{402,406}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,34},{402,406}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20006_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{430,394}}</string>
                <key>offset</key>
                <string>{4,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,27},{430,394}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20006_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{456,410}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{456,410}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20006_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,422}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{462,422}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20006_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,414},{446,396}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,80},{446,396}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20006_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{416,394}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,80},{416,394}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20006_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,812},{424,410}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,65},{424,410}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20006_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{424,314}}</string>
                <key>offset</key>
                <string>{-16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,110},{424,314}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20006_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,812},{148,238}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,110},{148,238}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20006_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1052},{136,242}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,110},{136,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20006_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1876},{114,246}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,111},{114,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20006_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{32,242}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,113},{32,242}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20006.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0d6835ae1cb62770e9cae6d59451628:1/1$</string>
            <key>textureFileName</key>
            <string>20006.png</string>
        </dict>
    </dict>
</plist>
