<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20005_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{208,234}}</string>
                <key>offset</key>
                <string>{-10,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,172},{208,234}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20005_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,494},{212,214}}</string>
                <key>offset</key>
                <string>{-10,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,194},{212,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20005_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,264}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,146},{226,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20005_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,268},{252,210}}</string>
                <key>offset</key>
                <string>{-8,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,200},{252,210}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20005_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{238,240}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,166},{238,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20005_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{254,254}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,154},{254,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20005_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{256,214}}</string>
                <key>offset</key>
                <string>{-8,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,191},{256,214}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20005_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{250,222}}</string>
                <key>offset</key>
                <string>{-7,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,181},{250,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20005_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,254},{238,222}}</string>
                <key>offset</key>
                <string>{-9,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,180},{238,222}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20005_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,782},{240,224}}</string>
                <key>offset</key>
                <string>{-8,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,177},{240,224}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>20005_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,522},{202,252}}</string>
                <key>offset</key>
                <string>{-11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,148},{202,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20005.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad5d5a97c0ea08c019989ce9463c9883:1/1$</string>
            <key>textureFileName</key>
            <string>20005.png</string>
        </dict>
    </dict>
</plist>
