<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20014_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,84},{84,88}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20014_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,150},{96,126}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,61},{96,126}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20014_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{98,140}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,57},{98,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20014_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{102,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,55},{102,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20014_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,148}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,53},{102,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20014.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e19867700a76f7dcd294f98697dbaeb1:1/1$</string>
            <key>textureFileName</key>
            <string>20014.png</string>
        </dict>
    </dict>
</plist>
