<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20013_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,132},{88,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,81},{88,92}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20013_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{100,128}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,60},{100,128}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20013_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{104,144}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,54},{104,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20013_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{104,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,54},{104,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20013_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,150}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,53},{106,150}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20013.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0d711b754a56c556bac75059343b1c8:1/1$</string>
            <key>textureFileName</key>
            <string>20013.png</string>
        </dict>
    </dict>
</plist>
