<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20012_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{74,44}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,103},{74,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20012_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{96,46}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,109},{96,46}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20012_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,194},{82,50}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,106},{82,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20012_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,142},{90,50}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,101},{90,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20012_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,46},{106,42}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,99},{106,42}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20012_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,90},{84,54}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,100},{84,54}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20012_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,44}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,111},{106,44}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20012_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,90},{94,50}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,106},{94,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20012_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,96},{90,50}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,101},{90,50}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20012_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{106,42}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,100},{106,42}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20012.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0e82940275eca186d5315345c296c04:1/1$</string>
            <key>textureFileName</key>
            <string>20012.png</string>
        </dict>
    </dict>
</plist>
