<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20011_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{102,139}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,80},{102,139}}</string>
                <key>sourceSize</key>
                <string>{256,255}</string>
            </dict>
            <key>20011_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{138,191}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,38},{138,191}}</string>
                <key>sourceSize</key>
                <string>{256,255}</string>
            </dict>
            <key>20011_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,380},{186,215}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,14},{186,215}}</string>
                <key>sourceSize</key>
                <string>{256,255}</string>
            </dict>
            <key>20011_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{194,225}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{194,225}}</string>
                <key>sourceSize</key>
                <string>{256,255}</string>
            </dict>
            <key>20011_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,196},{182,233}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,2},{182,233}}</string>
                <key>sourceSize</key>
                <string>{256,255}</string>
            </dict>
            <key>20011_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{192,237}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{192,237}}</string>
                <key>sourceSize</key>
                <string>{256,255}</string>
            </dict>
            <key>20011_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,239}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{196,239}}</string>
                <key>sourceSize</key>
                <string>{256,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20011.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe9736e2d01df1bf7f30c53d1d5be73b:1/1$</string>
            <key>textureFileName</key>
            <string>20011.png</string>
        </dict>
    </dict>
</plist>
