<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20015_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,274},{112,66}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,91},{112,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20015_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{144,66}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,102},{144,66}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20015_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,342},{124,76}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,94},{124,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20015_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{136,74}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,88},{136,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20015_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{160,62}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,86},{160,62}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20015_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{126,80}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,87},{126,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20015_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,68}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,101},{162,68}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20015_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,130},{142,76}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,94},{142,76}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20015_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{134,74}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,88},{134,74}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>20015_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{162,64}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,85},{162,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20015.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09607c9e278fd03c98fa02675b1f80b6:1/1$</string>
            <key>textureFileName</key>
            <string>20015.png</string>
        </dict>
    </dict>
</plist>
