<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20017_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{88,96}}</string>
                <key>offset</key>
                <string>{14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,200},{88,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20017_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{324,330}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,84},{324,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20017_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,426},{400,408}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,45},{400,408}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20017_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{408,416}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,42},{408,416}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>20017_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,422}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,39},{418,422}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20017.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d8d1390ef72ac825b736d9baea16827:1/1$</string>
            <key>textureFileName</key>
            <string>20017.png</string>
        </dict>
    </dict>
</plist>
