<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20021_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{191,182}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,36},{191,182}}</string>
                <key>sourceSize</key>
                <string>{279,272}</string>
            </dict>
            <key>20021_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,492},{124,134}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,93},{124,134}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>20021_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,328},{172,178}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,68},{172,178}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>20021_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,156},{192,186}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,59},{192,186}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>20021_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{192,182}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,61},{192,182}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>20021_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,328},{192,162}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,74},{192,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>20021_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{192,162}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,74},{192,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>20021_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,314},{192,162}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,74},{192,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>20021_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,164},{192,162}}</string>
                <key>offset</key>
                <string>{-11,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,74},{192,162}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>20021_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{252,152}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,83},{252,152}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>20021_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,478},{192,152}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,83},{192,152}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>20021_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{214,152}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,83},{214,152}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>20021_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,156},{232,156}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,80},{232,156}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>20021_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{248,160}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,80},{248,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>20021_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,160}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,77},{262,160}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20021.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13e286cfb54290e2e89b417bdcf08ff5:1/1$</string>
            <key>textureFileName</key>
            <string>20021.png</string>
        </dict>
    </dict>
</plist>
